html{
    display: flex;
    justify-content: center;
    align-items: center;
}

.image{
    width: 30em;
    height: 30em;
    background: url("background.jpg");
    background-size: cover;
    border-radius: 1%;
    transition: all 0.05ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

#image-container{
    width: 50em;
    height: 50em;
    border-style: solid;
    border-color: brown;
    border-width: 2em;
    background-color:burlywood;
}